<div class="kantan-service-detail demo-holder" data-kantan-holder='content' data-service='demo-tables' data-parameters='{"sort":{"name":"asc"}}'>
	<h2>Simple Holder Demo</h2>
	<p class="lead"> Filter Mark Sort and Dialogs <small class="text-muted">(See demo.css for the minimal css setup)</small></p>
	<div class="alert alert-info d-none" data-kantan='result'></div>	
	<div class="row" data-kantan-holder-content>
		<div class="col-md-4 col-lg-2" data-kantan-holder-filters>
			<div class="list-group demo-filters">
				<button class="list-group-item list-group-item-action collapsed" type="button" data-toggle='collapse-next'>
				 	<i class="fa fa-fw fa-tag" aria-hidden="true"></i>&nbsp;Switch			 		
				</button>
				<div class="collapse" data-kantan-filter-holder='type' data-type='single-switch'>
					<ul class="list-unstyled"> 																												
						<li>
							<button type="button" class="btn btn-sm btn-light btn-block" data-kantan-holder-function='filter' data-value='state'>
					    		<i class="fa fa-fw fa-lightbulb-o" aria-hidden="true"></i>&nbsp;States
					    	</button>
						</li>											
						<li>
							<button type="button" class="btn btn-sm btn-light btn-block" data-kantan-holder-function='filter' data-value='comments'>
					    		<i class="fa fa-fw fa-comments" aria-hidden="true"></i>&nbsp;Comments	
					    	</button>
						</li>											
						<li>
							<button type="button" class="btn btn-sm btn-light btn-block" data-kantan-holder-function='filter' data-value='interval'>
					    		<i class="fa fa-fw fa-calendar" aria-hidden="true"></i>&nbsp;Dates	
					    	</button>
						</li> 																	
					</ul>
				</div>
				 <button class="list-group-item list-group-item-action collapsed" type="button" data-toggle='collapse-next'>
					<i class="fa fa-fw fa-users" aria-hidden="true"></i>&nbsp;Multiple				 	
				</button>
				<div class="collapse" data-kantan-filter-holder='role' data-type='multiple'>
					<ul class="list-unstyled filter-entries"> 				  		
					    <li>
					    	<button type="button" class="btn btn-sm btn-light btn-block" data-kantan-holder-function='filter' data-value='user'>
					    		<i class="fa fa-fw fa-user-o" aria-hidden="true"></i>&nbsp;User	
					    	</button>
					    </li>
					    <li>
					    	<button type="button" class="btn btn-sm btn-light btn-block" data-kantan-holder-function='filter' data-value='moderator'>
					    		<i class="fa fa-fw fa-user-o" aria-hidden="true"></i>&nbsp;Moderator	
					    	</button>
					    </li>
					    <li>
					    	<button type="button" class="btn btn-sm btn-light btn-block" data-kantan-holder-function='filter' data-value='admin'>
					    		<i class="fa fa-fw fa-user-o" aria-hidden="true"></i>&nbsp;Admin	
					    	</button>
						</li>
					</ul>
				</div>
				 <button class="list-group-item list-group-item-action collapsed" type="button" data-toggle='collapse-next'>
					<span class="kantan-icon-text">
				 		<i class="fa fa-fw fa-cogs" aria-hidden="true"></i>&nbsp;Single				 		
				 	</span>		
				</button>
				<div class="collapse">
					<ul class="list-unstyled filter-entries" data-kantan-filter-holder='state' data-type='single'>
						 <li>
					    	<button type="button" class="btn btn-sm btn-light btn-block" data-kantan-holder-function='filter' data-value='1'>
					    		<i class="fa fa-fw fa-check-circle" aria-hidden="true"></i>&nbsp;OK
					    	</button>
					    </li>
						 <li>
					    	<button type="button" class="btn btn-sm btn-light btn-block" data-kantan-holder-function='filter' data-value='2'>
					    		<i class="fa fa-fw fa fa-ban"></i>&nbsp;Bad
					    	</button>
					    </li>											 
					</ul>
				</div>
			</div>	
			<button type="button" class="btn btn-sm btn-light d-none" data-kantan-holder-function='filter' data-filter-call='clear-all'>
	        <i class="fa fa-times" aria-hidden="true"></i>&nbsp;Clear
	      </button>
		</div>
		<div class="col-md-8 col-lg-10">			
			<div class="row">
				<div class="col">
					<button type="button" class="btn btn-light demo-switch" data-kantan-holder-function='mark' data-mark='all'>
						<span class="text-muted switch-disabled">
							<i class="fa fa-square-o"></i>&nbsp;Mark all
						</span>
						<span class="text-primary switch-active">
							<i class="fa fa-check-square"></i>&nbsp;Mark all
						</span>
					</button>
				</div>
				<div class="col" data-kantan-list-actions>
					<button type="button" class="btn btn-sm btn-danger disabled" data-marked='button'>
		  				<i class="fa fa-fw fa-trash"></i>&nbsp;<span>Delete</span>	
		  			</button>
				</div>
				<div class="col-md-auto clearfix">					
					<div class="float-sm-right text-muted" data-kantan='list-info'>
						<i class="fa fa-info-circle" aria-hidden="true"></i>
						5 entries
						<span class="d-none" data-marked='count-holder'>
							<span data-marked='count'></span> are marked
						</span>
					</div>
				</div>
			</div>
			<table class="table table-responsive table-striped">
				<thead class="sort-demoable" data-kantan-holder-sort data-clear='keep'>
					<tr>	
						<th></th>
				  		<th>
				  			<div role="button" class="sort-demo asc" data-kantan-holder-function='sort' data-type='sort-multiple' data-sort-key='id' data-sort='asc'>      				
				  				<span class="sort-demo-title">#</span>
				  				<i class="fa fa-sort-numeric-asc sort-demo-asc"></i>
				  				<i class="fa fa-sort-numeric-desc sort-demo-desc"></i>      				
				  				<button type="button" class="btn btn-sm sort-demo-remove" data-sort='delete'>
									<i class="fa fa-times"></i>
								</button>	      				
				  			</div>      			
				  		</th>
				  		<th>      			
				  			<div role="button" class="sort-demo" data-kantan-holder-function='sort' data-type='sort-multiple' data-sort-key='name' data-sort='asc'>      				
				  				<span class="sort-demo-title">Name</span>
				  				<i class="fa fa-sort-alpha-asc sort-demo-asc" aria-hidden="true"></i>
				  				<i class="fa fa-sort-alpha-desc sort-demo-desc" aria-hidden="true"></i>      				
				  				<button type="button" class="btn btn-sm sort-demo-remove" data-sort='delete'>
									<i class="fa fa-times" data-sort='delete'></i>
								</button>	      				
				  			</div>
				  		</th>			      		
				  		<th>
				  			<div role="button" class="sort-demo" data-kantan-holder-function='sort' data-type='sort-single' data-sort-key='country' data-sort='desc'>
				  				<span class="sort-sort-title">Country</span>
				  				<i class="fa fa-sort-alpha-asc sort-demo-asc" aria-hidden="true"></i>
				  				<i class="fa fa-sort-alpha-desc sort-demo-desc" aria-hidden="true"></i>   				
				  			</div>    				  			
				  		</th>
				  		<th></th>
					</tr>
				</thead>
			  	<tbody data-kantan-holder-result>  		
					<tr data-kantan-holder-function='mark' data-mark='list' data-id='1'>
			    		<td>
			    			<span class="demo-switch" data-mark='state'>							
								<span class="text-muted switch-disabled">
									<i class="fa fa-square-o"></i>
								</span>								
								<span class="text-primary switch-active">
									<i class="fa fa-check-square"></i>
								</span>
							</span>
			    		</td>
			    		<th scope="row">1</th>
			    		<td>Barcelona</td>
			    		<td>Spain</td>						    		
			    		<td class="demo-list-menue" data-kantan-list-menue align="right">
			    			<button type="button" class="btn btn-sm btn-primary" title="Edit Entry" data-kantan-holder-function='dialog' data-dialog='demo-small'>
								<i class="fa fa-fw fa-pencil" aria-hidden="true"></i><span class="demo-show">&nbsp;edit</span>	
							</button>				
			      		</td>      		
			    	</tr>	
					<tr data-kantan-holder-function='mark' data-mark='list' data-id='2'>
			    		<td>
			    			<span class="demo-switch" data-mark='state'>							
								<span class="text-muted switch-disabled">
									<i class="fa fa-square-o"></i>
								</span>								
								<span class="text-primary switch-active">
									<i class="fa fa-check-square"></i>
								</span>
							</span>
			    		</td>
			    		<th scope="row">2</th>
			    		<td>Berlin</td>
			    		<td>Germany</td>						    		
			    		<td class="demo-list-menue" data-kantan-list-menue align="right">
			    			<button type="button" class="btn btn-sm btn-primary" title="Edit Entry" data-kantan-holder-function='dialog' data-dialog='demo-small'>
								<i class="fa fa-fw fa-pencil" aria-hidden="true"></i><span class="demo-show">&nbsp;edit</span>	
							</button>				
			      		</td>      		
			    	</tr>	
					<tr data-kantan-holder-function='mark' data-mark='list' data-id='3'>
			    		<td>
			    			<span class="demo-switch" data-mark='state'>							
								<span class="text-muted switch-disabled">
									<i class="fa fa-square-o"></i>
								</span>								
								<span class="text-primary switch-active">
									<i class="fa fa-check-square"></i>
								</span>
							</span>
			    		</td>
			    		<th scope="row">3</th>
			    		<td>Paris</td>
			    		<td>France</td>						    		
			    		<td class="demo-list-menue" data-kantan-list-menue align="right">
			    			<button type="button" class="btn btn-sm btn-primary" title="Edit Entry" data-kantan-holder-function='dialog' data-dialog='demo-small'>
								<i class="fa fa-fw fa-pencil" aria-hidden="true"></i><span class="demo-show">&nbsp;edit</span>	
							</button>				
			      		</td>      		
			    	</tr>	
					<tr data-kantan-holder-function='mark' data-mark='list' data-id='4'>
			    		<td>
			    			<span class="demo-switch" data-mark='state'>							
								<span class="text-muted switch-disabled">
									<i class="fa fa-square-o"></i>
								</span>								
								<span class="text-primary switch-active">
									<i class="fa fa-check-square"></i>
								</span>
							</span>
			    		</td>
			    		<th scope="row">4</th>
			    		<td>London</td>
			    		<td>UK</td>						    		
			    		<td class="demo-list-menue" data-kantan-list-menue align="right">
			    			<button type="button" class="btn btn-sm btn-primary" title="Edit Entry" data-kantan-holder-function='dialog' data-dialog='demo-small'>
								<i class="fa fa-fw fa-pencil" aria-hidden="true"></i><span class="demo-show">&nbsp;edit</span>	
							</button>				
			      		</td>      		
			    	</tr>	
					<tr data-kantan-holder-function='mark' data-mark='list' data-id='5'>
			    		<td>
			    			<span class="demo-switch" data-mark='state'>							
								<span class="text-muted switch-disabled">
									<i class="fa fa-square-o"></i>
								</span>								
								<span class="text-primary switch-active">
									<i class="fa fa-check-square"></i>
								</span>
							</span>
			    		</td>
			    		<th scope="row">5</th>
			    		<td>New York</td>
			    		<td>USA</td>						    		
			    		<td class="demo-list-menue" data-kantan-list-menue align="right">
			    			<button type="button" class="btn btn-sm btn-primary" title="Edit Entry" data-kantan-holder-function='dialog' data-dialog='demo-small'>
								<i class="fa fa-fw fa-pencil" aria-hidden="true"></i><span class="demo-show">&nbsp;edit</span>	
							</button>				
			      		</td>      		
			    	</tr>	
					<tr data-kantan-holder-function='mark' data-mark='list' data-id='6'>
			    		<td>
			    			<span class="demo-switch" data-mark='state'>							
								<span class="text-muted switch-disabled">
									<i class="fa fa-square-o"></i>
								</span>								
								<span class="text-primary switch-active">
									<i class="fa fa-check-square"></i>
								</span>
							</span>
			    		</td>
			    		<th scope="row">6</th>
			    		<td>Stockholm</td>
			    		<td>Sweden</td>						    		
			    		<td class="demo-list-menue" data-kantan-list-menue align="right">
			    			<button type="button" class="btn btn-sm btn-primary" title="Edit Entry" data-kantan-holder-function='dialog' data-dialog='demo-small'>
								<i class="fa fa-fw fa-pencil" aria-hidden="true"></i><span class="demo-show">&nbsp;edit</span>	
							</button>				
			      		</td>      		
			    	</tr>	
					<tr data-kantan-holder-function='mark' data-mark='list' data-id='7'>
			    		<td>
			    			<span class="demo-switch" data-mark='state'>							
								<span class="text-muted switch-disabled">
									<i class="fa fa-square-o"></i>
								</span>								
								<span class="text-primary switch-active">
									<i class="fa fa-check-square"></i>
								</span>
							</span>
			    		</td>
			    		<th scope="row">7</th>
			    		<td>Vienna</td>
			    		<td>Austria</td>						    		
			    		<td class="demo-list-menue" data-kantan-list-menue align="right">
			    			<button type="button" class="btn btn-sm btn-primary" title="Edit Entry" data-kantan-holder-function='dialog' data-dialog='demo-small'>
								<i class="fa fa-fw fa-pencil" aria-hidden="true"></i><span class="demo-show">&nbsp;edit</span>	
							</button>				
			      		</td>      		
			    	</tr>	
				</tbody>
			</table>			
		</div>		
	</div>
	<div class="modal fade demo-modal" tabindex="-1" role="dialog" aria-hidden="true" 
		data-kantan-holder='dialog' 
		data-kantan-dialog='demo-small'>
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-body">
					<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.						
						Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.						
						Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.						
						Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>	
					<button type="button" class="btn btn-primary" data-kantan-holder-function='dialog' data-dialog='demo-large'>
						Large modal
					</button>					
				</div>
				<div class="modal-footer">
		    		<button type="button" class="btn btn-secondary" data-kantan-holder-function='dialog-close'>Close</button>				    		
		  		</div>	
			</div>
		</div>
		<div class="modal fade demo-modal" tabindex="-1" role="dialog" aria-hidden="true" 
			data-kantan-holder='dialog' 
			data-kantan-dialog='demo-large'>
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title"><i class="fa fa-fw "></i>&nbsp;Holders</h5>
						<button type="button" class="close" data-kantan-holder-function='dialog-close' aria-label="Close">
							<i class="fa fa-fw fa-window-close" aria-hidden="true"></i>
						</button>
			 		</div>					
					<div class="modal-body">
						<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.						
						Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.						
						Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.						
						Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
						<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.						
						Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.						
						Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.						
						Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>							
					</div>
				</div>				
			</div>
		</div>							
	</div>		
</div>