<div class="kantan-service-detail demo-holder" data-kantan-holder='content' data-service='demo-inputs'>
	<h2>Simple Inputs Demo</h2>
	<p class="lead">A Form with most of the input types with language switch</p>
	<form data-kantan-form novalidate>
		<div class="row no-gutters align-items-end">	
			<div class="col-xs">
				<!--<KantanFW file=formErrorsMenue>-->
			</div>
			<div class="col">			
				<!--<KantanFW file=formSaving>-->					
			</div>
			<div class="col-xs">
				<!--<KantanFW file=formLanguageSwitch>-->		
			</div>
			<div class="col-xs">		
				<button type="submit" class="btn btn-success" data-form-save>
					<i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save
				</button>
			</div>
		</div>
		<div class="alert alert-info d-none" data-kantan='result'></div>
		<!--<KantanFW file=formErrorsWarning>-->
		<!--<KantanFW file=formSaved>-->
		<div class="row">
			<div class="col-xl-6">
				<div class="form-row">
					<div class="col-md-6">	
						<div class="form-group" data-kantan-language='en'>
							<label>Title <small><span class="flag-icon flag-icon-en"></span></small></label>
							<input type="text" class="form-control" placeholder="Title" name="languagefields[en][title]" required>
							<div class="invalid-feedback" data-kantan='feedback'></div>
							<small class="form-text text-muted">Language Field: data-kantan-language='en'</small>
						</div>		
						<div class="form-group d-none" data-kantan-language='de'>
							<label>Title <small><span class="flag-icon flag-icon-de"></span></small></label>
							<input type="text" class="form-control" placeholder="Title" name="languagefields[de][title]">
							<div class="invalid-feedback" data-kantan='feedback'></div>
							<small class="form-text text-muted">Language Field: data-kantan-language='de'</small>
						</div>
					</div>
					<div class="col-md-6">						
						<div class="form-group" data-kantan-input='select' data-kantan-field='role'>
							<label><i class="fa fa-fw fa-users" aria-hidden="true"></i>&nbsp;Role</label>
							<select class="form-control custom-select" name="role">
								<option value="user">User</option>
								<option value="moderator">Moderator</option>
								<option value="admin">Admin</option>
							</select>
							<small class="form-text text-muted">Input: data-kantan-input='select'</small>
							<div class="invalid-feedback" data-kantan='feedback'></div>
						</div>
					</div>
				</div>	
				<div class="form-row">
					<div class="col-md-6">
						<div class="form-group" 
							data-kantan-input='dropdown' 
							data-kantan-field='dropdown-select-demo' 
							data-settings='{"remove_value":true,"default_message":"Choose your Option"}'>
							<label>
								<span data-field='title'><i class="fa fa-fw fa-globe" aria-hidden="true"></i>&nbsp;Dropdown Select</span>
								<button type="button" class="btn-kantan-remove d-none" data-dropdown='delete'>
									<i class="fa fa-times"></i>
								</button>
							</label>
							<div class="dropdown">
								<button class="btn btn-light dropdown-toggle" type="button" data-toggle='dropdown'>
						    		Choose your Option
						  		</button>
						  		<input type="hidden" name="dropdown-select-demo" value="" data-input-value/>
								<div class="dropdown-menu">
						    		<div class="dropdown-item" data-dropdown='item' data-value='en'>
					      				<span data-dropdown='title'>
					      					<span class="flag-icon flag-icon-en"></span>
					      					<span>UK</span>					      					
					      				</span>				      				
					      			</div>
					      			<div class="dropdown-item" data-dropdown='item' data-value='us'>
					      				<span data-dropdown='title'>
					      					<span class="flag-icon flag-icon-us"></span>
					      					<span>America</span>					      					 
					      				</span>				      									      					      		
						      		</div>
								</div>
							</div>
							<small class="form-text text-muted">Input: data-kantan-input='dropdown'</small>
							<div class="invalid-feedback" data-kantan='feedback'></div>						
						</div>	
					</div>
					<div class="col-md-6">
						<div class="form-group" data-kantan-input='date' data-kantan-field='birthday' data-type='date'>
							<label data-field='title'><i class="fa fa-fw fa-calendar" aria-hidden="true"></i>&nbsp;Birthday</label>
							 <div class="input-group with-feedback">			    			 	
								<input type="text" class="form-control" id="exampleBirthday" name="birthday" placeholder="YYYY-MM-DD" data-input>
								<div class="invalid-feedback" data-kantan='feedback' data-default='This field is required'>
									This field is required
								</div>				
				    			<div class="input-group-addon kantan-state-text warning d-none" role="button" data-clear>
									<i class="fa fa-times" aria-hidden="true"></i>
								</div>
								<div class="input-group-addon kantan-state-text primary" role="button" data-toggle>
									<i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
								</div>
							</div>
							<small class="form-text text-muted">Input: data-kantan-input='date'</small>
						</div>
					</div>
				</div>				
			</div>			
			<div class="col-xl-6">
				<div class="form-row">
					<div class="col-md-6">
						<div class="form-group" data-kantan-input='autocomplete' data-kantan-field='adress-city' data-settings='{"choose_value":"fullname","source":[{"id":1,"name":"Barcelona","fullname":"Spain - Barcelona","country":"Spain"},{"id":2,"name":"Berlin","fullname":"Germany - Berlin","country":"Germany"},{"id":3,"name":"Paris","fullname":"France - Paris","country":"France"},{"id":4,"name":"London","fullname":"UK - London","country":"UK"},{"id":5,"name":"New York","fullname":"USA - New York","country":"USA"},{"id":6,"name":"Stockholm","fullname":"Sweden - Stockholm","country":"Sweden"},{"id":7,"name":"Vienna","fullname":"Austria - Vienna","country":"Austria"}]}'>	  							  						
							<label>City</label>
							<input type="text" class="form-control" name="adress-city" placeholder="City" data-input-value>
							<small class="form-text text-muted">Input: data-kantan-input='autocomplete'</small>
						</div>
						<div class="form-group" data-kantan-input='mask' data-kantan-field='zip' data-settings='{"mask":"9{1,8}"}'>
							<label>Numbers Mask</label>
							<input type="text" class="form-control" name="demo-numbers" placeholder="1234">
							<small class="form-text text-muted">Input: data-kantan-input='mask'</small>
						</div>						
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Country</label>
							<input type="text" class="form-control" name="adress-country" placeholder="Country">
							<small class="form-text text-muted">Callback Result from City</small>
						</div>
						<div class="form-group" 
							data-kantan-input='mask' 
							data-kantan-field='telephone-en' 
							data-kantan-language='en' 
							data-settings='{"mask":"+9{1,5}[ 9{1,8}][ 9{1,64}]"}'>
							<label data-field='title'><i class="fa fa-fw fa-phone" aria-hidden="true"></i>&nbsp;Telephone <small><span class="flag-icon flag-icon-en"></span></small></label>
							<input type="text" class="form-control" name="language_fields[en][telephone]" placeholder="+44 123 123456">							
							<div class="invalid-feedback" data-kantan='feedback'></div>
							<small class="form-text text-muted">data-kantan-input='mask' and data-kantan-language='en'</small>
						</div>						
						<div class="form-group d-none" 
							data-kantan-input='mask' 
							data-kantan-field='telephone-de' 
							data-kantan-language='de' 
							data-settings='{"mask":"+9{1,5}[ 9{1,8}][ 9{1,64}]"}'>
							<label data-field='title'><i class="fa fa-fw fa-phone" aria-hidden="true"></i>&nbsp;Telephone <small><span class="flag-icon flag-icon-de"></span></small></label>
							<input type="text" class="form-control" name="language_fields[de][telephone]" placeholder="+44 123 123456">							
							<div class="invalid-feedback" data-kantan='feedback'></div>
							<small class="form-text text-muted">data-kantan-input='mask' and data-kantan-language='de'</small>
						</div>						
					</div>
				</div>
			</div>			
		</div>
		<div class="row">
			<div class="col-sm-4 col-lg-3">
				<div class="form-group" data-kantan-input='state' data-kantan-field='state-button-2'>
					<label>A State Button (Different Colors)</label>
					<div class="input-group">		
						<div class="btn-group demo-state" data-state='holder'>
							<label class="btn btn-light" data-state='button' data-settings='{"state_active":"btn-warning"}'>
							    <input name="state-button-2" value="1" type="radio">
								<i class="fa fa-ban" aria-hidden="true"></i>&nbsp;Disabled			    
							</label>
							<label class="btn btn-light" data-state='button' data-settings='{"state_active":"btn-secondary"}'>
							    <input name="state-button-2" value="2" type="radio">
								<i class="fa fa-eye-slash" aria-hidden="true"></i>&nbsp;Hidden			    
							</label>
							<label class="btn btn-light" data-state='button' data-settings='{"state_active":"btn-success"}'>
							    <input name="state-button-2" value="3" type="radio">
								<i class="fa fa-eye" aria-hidden="true"></i>&nbsp;Visible			    
							</label>
						</div>
					</div>
					<small class="form-text text-muted">data-kantan-input='state'</small>
				</div> 		
			</div>			
			<div class="col-sm-4 col-lg-3">
				<div class="form-group" 
					data-kantan-input='state' 
					data-kantan-field='switch-button-1' 
					data-settings='{"toggle":"true"}'>
					<label>A State Switch Button</label>
					<div class="input-group">		
						<div class="demo-state init" data-state='holder'>
							<label class="btn btn-light" data-state='button' data-settings='{"state_active":"btn-danger"}'>
							    <input name="switch-button-1" value="1" type="radio">
								<i class="fa fa-times" aria-hidden="true"></i>&nbsp;Disabled			    
							</label>
							<label class="btn btn-light" data-state='button' data-settings='{"state_active":"btn-secondary"}'>
							    <input name="switch-button-1" value="2" type="radio">
								<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;Inactive			    
							</label>
							<label class="btn btn-light" data-state='button' data-settings='{"state_active":"btn-primary"}'>
							    <input name="switch-button-1" value="3" type="radio">
								<i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Active			    
							</label>
						</div>
					</div>
					<small class="form-text text-muted">data-kantan-input='state'</small>
				</div>									
			</div>
			<div class="col-sm-4 col-lg-6">
				<div class="form-group" data-kantan-input='editor' data-size='big'>
					<label>Text Big <small class=" text-muted">data-kantan-input='editor'</small></label>
					<textarea name="text-big" class="form-control" rows="3"></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="form-group" 
					data-kantan-input='autocomplete' 
					data-kantan-field='users-multiple-empty' 			
					data-settings='{"choose_value":"id","choose_type":"multiple","source":".users.json"}'>					
					<label data-field='title'>Users</label>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search" data-input='search' data-kantan-form-function='noenter' />	
					</div>
					<div class="kantan-multiple-holder" data-kantan-items='holder'></div>
					<small class="form-text text-muted">data-kantan-input='autocomplete'</small>
					<div class="invalid-feedback" data-kantan='feedback'></div>					
					<script type="text/x-handlebars-template" data-input='template'>
						<div class="demo-item" data-multiple='item' data-item-id='{{{input_id}}}'>			  						
		  					<div class="demo-choosen-state">
		  						<i class="fa fa-fw fa-square-o" aria-hidden="true"></i>
							</div>
		  					<div class="demo-entry">
		  						<i class="fa fa-user" aria-hidden="true"></i>&nbsp;{{{name}}}				  						
		  						<div class="kantan-small-text">
		  							{{#if email}}<p><small class="text-muted">{{{email}}}</small></p>{{/if}}	
		  						</div>				  						
		  					</div>				  					
						</div>
					</script>
				</div>			
			</div>
			<div class="col-sm-4">
				<div class="form-group" 
					data-kantan-input='autocomplete' 
					data-kantan-field='browser-single' 								
					data-settings='{"convert_array":"true","choose_value":"id","choose_type":"single","source":{"1":{"id":1,"name":"Chrome","icon":"fa-chrome"},"2":{"id":2,"name":"Firefox","icon":"fa-firefox"},"3":{"id":3,"name":"Internet Explorer","icon":"fa-internet-explorer"},"4":{"id":4,"name":"Opera","icon":"fa-opera"},"5":{"id":5,"name":"Safari","icon":"fa-safari"}}}'>
	  				<label data-field='title'>Browser</label>
	  				<div class="input-group">
	  					<input type="hidden" name="browser-single" data-input-value />
	  					<input type="text" class="form-control" placeholder="Search" data-input='search' data-kantan-form-function='noenter' />
	  					<button class="input-group-addon btn-recycle d-none" data-input='recycle' type="button">
	    					<i class="fa fa-recycle" aria-hidden="true"></i>
	    				</button>
	  				</div>
	  				<div class="kantan-single-holder" data-kantan-items='holder'></div>
	  				<small class="form-text text-muted">data-kantan-input='autocomplete'</small>
	  				<div class="invalid-feedback" data-kantan='feedback'></div>
	  				<script type="text/x-handlebars-template" data-input='template'>
	  					<div class="kantan-choosen-item" data-single='item' data-item-id="{{{input_id}}}">
	  						<i class="fa fa-fw {{{icon}}}" aria-hidden="true"></i>&nbsp;{{{name}}}
	  					</div>
	  					<button type="button" class="btn-kantan-remove" data-input='delete' data-type='single'>
							<i class="fa fa-fw fa-times"></i>
						</button>
	  				</script>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group" 
					data-kantan-input='choose' 
					data-kantan-field='browser-multiple'														
					data-settings='{"convert_array":"true","choose_value":"id","source":{"1":{"id":1,"name":"Chrome","icon":"fa-chrome"},"2":{"id":2,"name":"Firefox","icon":"fa-firefox"},"3":{"id":3,"name":"Internet Explorer","icon":"fa-internet-explorer"},"4":{"id":4,"name":"Opera","icon":"fa-opera"},"5":{"id":5,"name":"Safari","icon":"fa-safari"}}}'>
					<label data-field='title'>Browsers</label>	  				
	  				<div class="kantan-multiple-holder" data-kantan-items='holder'></div>
	  				<small class="form-text text-muted">data-kantan-input='choose'</small>
	  				<div class="invalid-feedback" data-kantan='feedback'></div>
	  				<script type="text/x-handlebars-template" data-input='template'>
	  					<div class="demo-item" data-multiple='item' data-item-id='{{{input_id}}}'>
		  					<div class="demo-choosen-state">
		  						<i class="fa fa-fw fa-square-o" aria-hidden="true"></i>
							</div>
		  					<div class="demo-entry">
		  						<i class="fa fa-fw {{{icon}}}" aria-hidden="true"></i>&nbsp;{{{name}}}				  						
		  					</div>
	  					</div>
	  				</script>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-6">
				<div class="form-group" 
					data-kantan-input='file' 
					data-kantan-field='attachment-file-en' 
					data-settings='{"type":"files"}'
					data-kantan-language='en'>			    			
	    			<div class="row no-gutters">
    			 		<div class="col" >
    			 			<label><i class="fa fa-file" aria-hidden="true"></i>&nbsp;File Single <small><span class="flag-icon flag-icon-en"></span></small></label>
    			 		</div>
    			 		<div class="col-xs">
    			 			<button type="button" class="btn btn-sm btn-choose" data-file='choose'>
    			 				<i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Choose
    			 			</button>
    			 		</div>
    			 	</div>
    			 	<small class="form-text text-muted">data-kantan-input='file' and data-kantan-language='en'</small>
	    			<div class="invalid-feedback" data-kantan='feedback'></div>
	    			<div class="kantan-multiple-holder active files" data-file='holder'></div>			    						    			
	    			<script type="text/x-handlebars-template" data-input='template'>
	  					<div class="kantan-multiple-item file{{#if thumb}} dz-image-preview{{/if}}" data-file='item' data-existing='item'>			  										  					
		  					<div class="kantan-choosen-item">
		  						{{#if thumb}}
		  						<img src="{{{thumb}}}" alt="Thumb: {{{name}}}" />
		  						{{/if}}
		  						<div class="kantan-small-text">
		  							<p>{{{name}}}</p>
		  							<p class="kantan-item-file-info"><small class="text-muted"><i class="fa fa-file" aria-hidden="true"></i>&nbsp;{{{size}}}</small></p>	{{#if thumb}}
		  							<p class="kantan-item-file-info"><small class="text-muted">{{width}}x{{height}}px</small></p>
		  							{{/if}}
		  							<p class="katan-item-file-delete"><small class="text-danger">Will be deleted</small></p>
		  						</div>
		  					</div>
		  					<button type="button" class="kantan-choosen-remove" data-file='delete'>
								<i class="fa fa-trash" aria-hidden="true"></i>
							</button>
	  					</div>
	  				</script>
	    			<div class="d-none" data-file='template'>								
						<div class="kantan-multiple-item file" data-file='item'>			  										  					
		  					<div class="kantan-choosen-item">
		  						<img data-dz-thumbnail alt="template" />				  						
		  						<div class="kantan-small-text">
		  							<p><span data-dz-name></span></p>
		  							<p><small class="text-muted"><i class="fa fa-file" aria-hidden="true"></i>&nbsp;<span data-dz-size></span></small></p>	
		  						</div>	
		  						<div class="demo-item-error text-danger">
							  		<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;
							  		<small data-dz-errormessage></small>
							  	</div>			
		  					</div>
		  					<button type="button" class="kantan-choosen-remove" data-dz-remove>
								<i class="fa fa-trash" aria-hidden="true"></i>
							</button>			  					
	  					</div>
					</div>			    					    			
	    		</div>
			</div>			
			<div class="col-xl-6">
				<div class="form-group" data-kantan-input='file' data-kantan-field='image-files' data-settings='{"maxFiles":6}'>		    			
					<div class="row no-gutters">
				 		<div class="col" >
				 			<label><i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp;Image Multiple <small class="text-muted">(Maxfiles 6)</small></label>
				 		</div>
				 		<div class="col-xs">
				 			<button type="button" class="btn btn-sm btn-choose" data-file='choose'>
				 				<i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Choose
				 			</button>
				 		</div>
				 	</div>
				 	<small class="form-text text-muted">data-kantan-input='file'</small>
				 	<div class="invalid-feedback" data-kantan='feedback'></div>
					<div class="kantan-multiple-holder active files" data-file='holder'></div>
					<script type="text/x-handlebars-template" data-input='template'>
						<div class="kantan-multiple-item file{{#if thumb}} dz-image-preview{{/if}}" data-file='item' data-existing='item'{{#if file_index}} data-index='{{{file_index}}}'{{/if}}>			  										  					
		  					<div class="kantan-choosen-item">
		  						{{#if thumb}}
		  						<img src="{{{thumb}}}" alt="Thumb: {{{name}}}" />
		  						{{/if}}
		  						<div class="kantan-small-text">
		  							<p>{{{name}}}</p>
		  							<p class="kantan-item-file-info"><small class="text-muted"><i class="fa fa-file" aria-hidden="true"></i>&nbsp;{{{size}}}</small></p>{{#if thumb}}
		  							<p class="kantan-item-file-info"><small class="text-muted">{{width}}x{{height}}px</small></p>
		  							{{/if}}
		  							<p class="katan-item-file-delete"><small class="text-danger">Will be deleted</small></p>
		  						</div>
		  					</div>
		  					<button type="button" class="kantan-choosen-remove" data-file='delete'>
								<i class="fa fa-trash" aria-hidden="true"></i>
							</button>
						</div>
					</script>
					<div class="d-none" data-file='template'>								
						<div class="kantan-multiple-item file" data-file='item' data-new='item'>			  										  					
		  					<div class="kantan-choosen-item">
		  						<img data-dz-thumbnail alt="template" />				  						
		  						<div class="kantan-small-text">
		  							<p><span data-dz-name></span></p>
		  							<p><small class="text-muted"><i class="fa fa-file" aria-hidden="true"></i>&nbsp;<span data-dz-size></span></small></p>	
		  						</div>	
		  						<div class="demo-item-error text-danger">
							  		<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;
							  		<small data-dz-errormessage></small>
							  	</div>			
		  					</div>
		  					<button type="button" class="kantan-choosen-remove" data-dz-remove>
								<i class="fa fa-trash" aria-hidden="true"></i>
							</button>			  					
						</div>
					</div>			    					    			
				</div>
			</div>
		</div>
	</form>
</div>